.moviesBlock {

  .moviesWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .loadingBlock {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}