.moviesBlock {

  .inputBlock {
    height: 60px;
  }

  .moviesWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    .item {
      flex: 1 1 15%;
    }

    @media screen and (max-width: 800px) {
      .item {
        flex: 1 1 16.666%;
      }
    }
    @media screen and (max-width: 660px) {
      .item {
        flex: 1 1 20%;
      }
    }
    @media screen and (max-width: 580px) {
      .item {
        flex: 1 1 40%;
      }
    }
  }

  .loadingBlock {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

