.moviesBlock {
  margin: 0 7.5px;
  width: 100%;

  .inputBlock {
    margin-left: 7.5px;
    height: 60px;
  }

  .moviesWrapper {
    display: flex;
    flex-wrap: wrap;

    .item {
      margin: 0 7.5px;
    }
  }

  .loadingBlock {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}