.loadingBlock {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoMovieBlock {
  .infoMovieWrapper {
    display: flex;

    .imgBlock {
      margin-right: 15px;

      img {
        width: 350px;
        max-height: 500px;
      }

    }

    @media screen and (max-width: 670px) {
      .imgBlock {
        margin-right: 0;

        img {
          width: 100%;
          max-width: 350px;
          max-height: 400px;
        }
      }
    }

    .playerBlock {
      height: 300px;
      margin-top: 15px;
    }
  }

  @media screen and (max-width: 670px) {
    .infoMovieWrapper {
      flex-direction: column;

      .descriptionMovie {

      }
    }
  }

}

